{% extends 'header.html' %}

{% block title %}Re-design store sign{% endblock %}

{% block main %}
<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Upload an image to process</h4>
      </div>
      <div class="card-body">
        <form action="uploaded-photo" method="post" enctype="multipart/form-data">
            <label for="photo">Store sign photo</label>
            <input type="file" class="form-control" name="photo" id="photo" value="" required>
            <br>
            <label for="letter">Enter the letters </label>
            <input type="text" class="form-control" name="letter" id="letter" value=""required>
            <br>
            <label for="letterColor">Select the color</label>
            <input type="text" class="form-control" name="letterColor" id="letterColor" value="" required>
            <br>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Process</button>
         </form>
      </div>
    </div>
  </div>
    {% if photos %}
    <h2>Photos you have uploaded:</h2>
    <ul>
        {% for item in photos %}
        <li>{{ item['photo']}}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock %}